**Import and installation of required libraries**

In [1]:
pip install tflearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tflearn
  Downloading tflearn-0.5.0.tar.gz (107 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.3/107.3 KB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tflearn) (1.21.6)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from tflearn) (1.15.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from tflearn) (7.1.2)
Building wheels for collected packages: tflearn
  Building wheel for tflearn (setup.py) ... done
  Created wheel for tflearn: filename=tflearn-0.5.0-py3-none-any.whl size=127299 sha256=001efc08c7a4b63a94d44019086a0901536f6675db3c4f7524f64010b23aa4ff
  Stored in directory: /root/.cache/pip/wheels/65/9b/15/cb1e6b279c14ed897530d15cfd7da8e3df8a947e593f5cfe59
Successfully built tflearn
Installing collected packages: tflearn
Successfully installed tflearn-0.5.0

In [2]:
import numpy as np
import pandas as pd
import tflearn

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

**Download the titanic dataset**

In [3]:
from tflearn.datasets import titanic
dataset = titanic.download_dataset('titanic_dataset.csv')

Downloading Titanic dataset...
Succesfully downloaded titanic_dataset.csv 82865 bytes.

In [4]:
print(dataset)

./titanic_dataset.csv

**Read the content inside titanic dataset**

In [5]:
dataframe = pd.read_csv(dataset)

In [6]:
dataframe.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500
2,0,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500
3,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500
4,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500

**Shape of the dataframe**

In [7]:
dataframe.shape

(1309, 9)

**Columns in dataframe**

In [8]:
dataframe.columns

Index(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare'],
      dtype='object')

**Load CSV file, first column represents labels**

In [9]:
from tflearn.data_utils import load_csv
data, labels = load_csv(dataset, target_column=0, categorical_labels=True, n_classes=2)

In [10]:
data

[['1',
  'Allen, Miss. Elisabeth Walton',
  'female',
  '29',
  '0',
  '0',
  '24160',
  '211.3375'],
 ['1',
  'Allison, Master. Hudson Trevor',
  'male',
  '0.9167',
  '1',
  '2',
  '113781',
  '151.5500'],
 ['1',
  'Allison, Miss. Helen Loraine',
  'female',
  '2',
  '1',
  '2',
  '113781',
  '151.5500'],
 ['1',
  'Allison, Mr. Hudson Joshua Creighton',
  'male',
  '30',
  '1',
  '2',
  '113781',
  '151.5500'],
 ['1',
  'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
  'female',
  '25',
  '1',
  '2',
  '113781',
  '151.5500'],
 ['1', 'Anderson, Mr. Harry', 'male', '48', '0', '0', '19952', '26.5500'],
 ['1',
  'Andrews, Miss. Kornelia Theodosia',
  'female',
  '63',
  '1',
  '0',
  '13502',
  '77.9583'],
 ['1', 'Andrews, Mr. Thomas Jr', 'male', '39', '0', '0', '112050', '0.0000'],
 ['1',
  'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
  'female',
  '53',
  '2',
  '0',
  '11769',
  '51.4792'],
 ['1',
  'Artagaveytia, Mr. Ramon',
  'male',
  '71',
  '0',
  '0',
  'PC 17609',
  '49.5042'],
 ['1',
  'Astor, Col. John Jacob',
  'male',
  '47',
  '1',
  '0',
  'PC 17757',
  '227.5250'],
 ['1',
  'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
  'female',
  '18',
  '1',
  '0',
  'PC 17757',
  '227.5250'],
 ['1',
  'Aubart, Mme. Leontine Pauline',
  'female',
  '24',
  '0',
  '0',
  'PC 17477',
  '69.3000'],
 ['1',
  'Barber, Miss. Ellen "Nellie"',
  'female',
  '26',
  '0',
  '0',
  '19877',
  '78.8500'],
 ['1',
  'Barkworth, Mr. Algernon Henry Wilson',
  'male',
  '80',
  '0',
  '0',
  '27042',
  '30.0000'],
 ['1', 'Baumann, Mr. John D', 'male', '0', '0', '0', 'PC 17318', '25.9250'],
 ['1',
  'Baxter, Mr. Quigg Edmond',
  'male',
  '24',
  '0',
  '1',
  'PC 17558',
  '247.5208'],
 ['1',
  'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
  'female',
  '50',
  '0',
  '1',
  'PC 17558',
  '247.5208'],
 ['1', 'Bazzani, Miss. Albina', 'female', '32', '0', '0', '11813', '76.2917'],
 ['1', 'Beattie, Mr. Thomson', 'male', '36', '0', '0', '13050', '75.2417'],
 ['1',
  'Beckwith, Mr. Richard Leonard',
  'male',
  '37',
  '1',
  '1',
  '11751',
  '52.5542'],
 ['1',
  'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
  'female',
  '47',
  '1',
  '1',
  '11751',
  '52.5542'],
 ['1', 'Behr, Mr. Karl Howell', 'male', '26', '0', '0', '111369', '30.0000'],
 ['1',
  'Bidois, Miss. Rosalie',
  'female',
  '42',
  '0',
  '0',
  'PC 17757',
  '227.5250'],
 ['1', 'Bird, Miss. Ellen', 'female', '29', '0', '0', 'PC 17483', '221.7792'],
 ['1', 'Birnbaum, Mr. Jakob', 'male', '25', '0', '0', '13905', '26.0000'],
 ['1', 'Bishop, Mr. Dickinson H', 'male', '25', '1', '0', '11967', '91.0792'],
 ['1',
  'Bishop, Mrs. Dickinson H (Helen Walton)',
  'female',
  '19',
  '1',
  '0',
  '11967',
  '91.0792'],
 ['1',
  'Bissette, Miss. Amelia',
  'female',
  '35',
  '0',
  '0',
  'PC 17760',
  '135.6333'],
 ['1',
  'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
  'male',
  '28',
  '0',
  '0',
  '110564',
  '26.5500'],
 ['1',
  'Blackwell, Mr. Stephen Weart',
  'male',
  '45',
  '0',
  '0',
  '113784',
  '35.5000'],
 ['1', 'Blank, Mr. Henry', 'male', '40', '0', '0', '112277', '31.0000'],
 ['1',
  'Bonnell, Miss. Caroline',
  'female',
  '30',
  '0',
  '0',
  '36928',
  '164.8667'],
 ['1',
  'Bonnell, Miss. Elizabeth',
  'female',
  '58',
  '0',
  '0',
  '113783',
  '26.5500'],
 ['1',
  'Borebank, Mr. John James',
  'male',
  '42',
  '0',
  '0',
  '110489',
  '26.5500'],
 ['1',
  'Bowen, Miss. Grace Scott',
  'female',
  '45',
  '0',
  '0',
  'PC 17608',
  '262.3750'],
 ['1',
  'Bowerman, Miss. Elsie Edith',
  'female',
  '22',
  '0',
  '1',
  '113505',
  '55.0000'],
 ['1',
  'Bradley, Mr. George ("George Arthur Brayton")',
  'male',
  '0',
  '0',
  '0',
  '111427',
  '26.5500'],
 ['1', 'Brady, Mr. John Bertram', 'male', '41', '0', '0', '113054', '30.5000'],
 ['1', 'Brandeis, Mr. Emil', 'male', '48', '0', '0', 'PC 17591', '50.4958'],
 ['1',
  'Brewe, Dr. Arthur Jackson',
  'male',
  '0',
  '0',
  '0',
  '112379',
  '39.6000'],
 ['1',
  'Brown, Mrs. James Joseph (Margaret Tobin)',
  'female',
  '44',
  '0',
  '0',
  'PC 17610',
  '27.7208'],
 ['1',
  'Brown, Mrs. John Murray (Caroline Lane Lamson)',
  'female',
  '59',
  '2',
  '0',
  '11769',
  '51.4792'],
 ['1',
  'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
  'female',
  '60',
  '0',
  '0',
  '11813',
  '76.2917'],
 ['1',
  'Burns, Miss. Elizabeth Margaret',
  'female',
  '41',
  '0',
  '0',
  '16966',
  '134.5000'],
 ['1',
  'Butt, Major. Archibald Willingham',
  'male',
  '45',
  '0',
  '0',
  '113050',
  '26.5500'],
 ['1', 'Cairns, Mr. Alexander', 'male', '0', '0', '0', '113798', '31.0000'],
 ['1',
  'Calderhead, Mr. Edward Pennington',
  'male',
  '42',
  '0',
  '0',
  'PC 17476',
  '26.2875'],
 ['1',
  'Candee, Mrs. Edward (Helen Churchill Hungerford)',
  'female',
  '53',
  '0',
  '0',
  'PC 17606',
  '27.4458'],
 ['1',
  'Cardeza, Mr. Thomas Drake Martinez',
  'male',
  '36',
  '0',
  '1',
  'PC 17755',
  '512.3292'],
 ['1',
  'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
  'female',
  '58',
  '0',
  '1',
  'PC 17755',
  '512.3292'],
 ['1', 'Carlsson, Mr. Frans Olof', 'male', '33', '0', '0', '695', '5.0000'],
 ['1', 'Carrau, Mr. Francisco M', 'male', '28', '0', '0', '113059', '47.1000'],
 ['1', 'Carrau, Mr. Jose Pedro', 'male', '17', '0', '0', '113059', '47.1000'],
 ['1',
  'Carter, Master. William Thornton II',
  'male',
  '11',
  '1',
  '2',
  '113760',
  '120.0000'],
 ['1',
  'Carter, Miss. Lucile Polk',
  'female',
  '14',
  '1',
  '2',
  '113760',
  '120.0000'],
 ['1',
  'Carter, Mr. William Ernest',
  'male',
  '36',
  '1',
  '2',
  '113760',
  '120.0000'],
 ['1',
  'Carter, Mrs. William Ernest (Lucile Polk)',
  'female',
  '36',
  '1',
  '2',
  '113760',
  '120.0000'],
 ['1', 'Case, Mr. Howard Brown', 'male', '49', '0', '0', '19924', '26.0000'],
 ['1',
  'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
  'female',
  '0',
  '0',
  '0',
  '17770',
  '27.7208'],
 ['1',
  'Cavendish, Mr. Tyrell William',
  'male',
  '36',
  '1',
  '0',
  '19877',
  '78.8500'],
 ['1',
  'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
  'female',
  '76',
  '1',
  '0',
  '19877',
  '78.8500'],
 ['1',
  'Chaffee, Mr. Herbert Fuller',
  'male',
  '46',
  '1',
  '0',
  'W.E.P. 5734',
  '61.1750'],
 ['1',
  'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
  'female',
  '47',
  '1',
  '0',
  'W.E.P. 5734',
  '61.1750'],
 ['1',
  'Chambers, Mr. Norman Campbell',
  'male',
  '27',
  '1',
  '0',
  '113806',
  '53.1000'],
 ['1',
  'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
  'female',
  '33',
  '1',
  '0',
  '113806',
  '53.1000'],
 ['1',
  'Chaudanson, Miss. Victorine',
  'female',
  '36',
  '0',
  '0',
  'PC 17608',
  '262.3750'],
 ['1', 'Cherry, Miss. Gladys', 'female', '30', '0', '0', '110152', '86.5000'],
 ['1',
  'Chevre, Mr. Paul Romaine',
  'male',
  '45',
  '0',
  '0',
  'PC 17594',
  '29.7000'],
 ['1',
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'female',
  '0',
  '0',
  '1',
  '113505',
  '55.0000'],
 ['1',
  'Chisholm, Mr. Roderick Robert Crispin',
  'male',
  '0',
  '0',
  '0',
  '112051',
  '0.0000'],
 ['1',
  'Clark, Mr. Walter Miller',
  'male',
  '27',
  '1',
  '0',
  '13508',
  '136.7792'],
 ['1',
  'Clark, Mrs. Walter Miller (Virginia McDowell)',
  'female',
  '26',
  '1',
  '0',
  '13508',
  '136.7792'],
 ['1', 'Cleaver, Miss. Alice', 'female', '22', '0', '0', '113781', '151.5500'],
 ['1',
  'Clifford, Mr. George Quincy',
  'male',
  '0',
  '0',
  '0',
  '110465',
  '52.0000'],
 ['1',
  'Colley, Mr. Edward Pomeroy',
  'male',
  '47',
  '0',
  '0',
  '5727',
  '25.5875'],
 ['1',
  'Compton, Miss. Sara Rebecca',
  'female',
  '39',
  '1',
  '1',
  'PC 17756',
  '83.1583'],
 ['1',
  'Compton, Mr. Alexander Taylor Jr',
  'male',
  '37',
  '1',
  '1',
  'PC 17756',
  '83.1583'],
 ['1',
  'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)',
  'female',
  '64',
  '0',
  '2',
  'PC 17756',
  '83.1583'],
 ['1',
  'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)',
  'female',
  '55',
  '2',
  '0',
  '11770',
  '25.7000'],
 ['1',
  'Crafton, Mr. John Bertram',
  'male',
  '0',
  '0',
  '0',
  '113791',
  '26.5500'],
 ['1',
  'Crosby, Capt. Edward Gifford',
  'male',
  '70',
  '1',
  '1',
  'WE/P 5735',
  '71.0000'],
 ['1',
  'Crosby, Miss. Harriet R',
  'female',
  '36',
  '0',
  '2',
  'WE/P 5735',
  '71.0000'],
 ['1',
  'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)',
  'female',
  '64',
  '1',
  '1',
  '112901',
  '26.5500'],
 ['1',
  'Cumings, Mr. John Bradley',
  'male',
  '39',
  '1',
  '0',
  'PC 17599',
  '71.2833'],
 ['1',
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  '38',
  '1',
  '0',
  'PC 17599',
  '71.2833'],
 ['1', 'Daly, Mr. Peter Denis ', 'male', '51', '0', '0', '113055', '26.5500'],
 ['1',
  'Daniel, Mr. Robert Williams',
  'male',
  '27',
  '0',
  '0',
  '113804',
  '30.5000'],
 ['1', 'Daniels, Miss. Sarah', 'female', '33', '0', '0', '113781', '151.5500'],
 ['1',
  'Davidson, Mr. Thornton',
  'male',
  '31',
  '1',
  '0',
  'F.C. 12750',
  '52.0000'],
 ['1',
  'Davidson, Mrs. Thornton (Orian Hays)',
  'female',
  '27',
  '1',
  '2',
  'F.C. 12750',
  '52.0000'],
 ['1', 'Dick, Mr. Albert Adrian', 'male', '31', '1', '0', '17474', '57.0000'],
 ['1',
  'Dick, Mrs. Albert Adrian (Vera Gillespie)',
  'female',
  '17',
  '1',
  '0',
  '17474',
  '57.0000'],
 ['1', 'Dodge, Dr. Washington', 'male', '53', '1', '1', '33638', '81.8583'],
 ['1', 'Dodge, Master. Washington', 'male', '4', '0', '2', '33638', '81.8583'],
 ['1',
  'Dodge, Mrs. Washington (Ruth Vidaver)',
  'female',
  '54',
  '1',
  '1',
  '33638',
  '81.8583'],
 ['1',
  'Douglas, Mr. Walter Donald',
  'male',
  '50',
  '1',
  '0',
  'PC 17761',
  '106.4250'],
 ['1',
  'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)',
  'female',
  '27',
  '1',
  '1',
  'PC 17558',
  '247.5208'],
 ['1',
  'Douglas, Mrs. Walter Donald (Mahala Dutton)',
  'female',
  '48',
  '1',
  '0',
  'PC 17761',
  '106.4250'],
 ['1',
  'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
  'female',
  '48',
  '1',
  '0',
  '11755',
  '39.6000'],
 ['1',
  'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
  'male',
  '49',
  '1',
  '0',
  'PC 17485',
  '56.9292'],
 ['1',
  'Dulles, Mr. William Crothers',
  'male',
  '39',
  '0',
  '0',
  'PC 17580',
  '29.7000'],
 ['1',
  'Earnshaw, Mrs. Boulton (Olive Potter)',
  'female',
  '23',
  '0',
  '1',
  '11767',
  '83.1583'],
 ['1',
  'Endres, Miss. Caroline Louise',
  'female',
  '38',
  '0',
  '0',
  'PC 17757',
  '227.5250'],
 ['1',
  'Eustis, Miss. Elizabeth Mussey',
  'female',
  '54',
  '1',
  '0',
  '36947',
  '78.2667'],
 ['1',
  'Evans, Miss. Edith Corse',
  'female',
  '36',
  '0',
  '0',
  'PC 17531',
  '31.6792'],
 ['1', 'Farthing, Mr. John', 'male', '0', '0', '0', 'PC 17483', '221.7792'],
 ['1',
  'Flegenheim, Mrs. Alfred (Antoinette)',
  'female',
  '0',
  '0',
  '0',
  'PC 17598',
  '31.6833'],
 ['1',
  'Fleming, Miss. Margaret',
  'female',
  '0',
  '0',
  '0',
  '17421',
  '110.8833'],
 ['1',
  'Flynn, Mr. John Irwin ("Irving")',
  'male',
  '36',
  '0',
  '0',
  'PC 17474',
  '26.3875'],
 ['1',
  'Foreman, Mr. Benjamin Laventall',
  'male',
  '30',
  '0',
  '0',
  '113051',
  '27.7500'],
 ['1',
  'Fortune, Miss. Alice Elizabeth',
  'female',
  '24',
  '3',
  '2',
  '19950',
  '263.0000'],
 ['1',
  'Fortune, Miss. Ethel Flora',
  'female',
  '28',
  '3',
  '2',
  '19950',
  '263.0000'],
 ['1',
  'Fortune, Miss. Mabel Helen',
  'female',
  '23',
  '3',
  '2',
  '19950',
  '263.0000'],
 ['1',
  'Fortune, Mr. Charles Alexander',
  'male',
  '19',
  '3',
  '2',
  '19950',
  '263.0000'],
 ['1', 'Fortune, Mr. Mark', 'male', '64', '1', '4', '19950', '263.0000'],
 ['1',
  'Fortune, Mrs. Mark (Mary McDougald)',
  'female',
  '60',
  '1',
  '4',
  '19950',
  '263.0000'],
 ['1',
  'Francatelli, Miss. Laura Mabel',
  'female',
  '30',
  '0',
  '0',
  'PC 17485',
  '56.9292'],
 ['1',
  'Franklin, Mr. Thomas Parham',
  'male',
  '0',
  '0',
  '0',
  '113778',
  '26.5500'],
 ['1',
  'Frauenthal, Dr. Henry William',
  'male',
  '50',
  '2',
  '0',
  'PC 17611',
  '133.6500'],
 ['1',
  'Frauenthal, Mr. Isaac Gerald',
  'male',
  '43',
  '1',
  '0',
  '17765',
  '27.7208'],
 ['1',
  'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
  'female',
  '0',
  '1',
  '0',
  'PC 17611',
  '133.6500'],
 ['1',
  'Frolicher, Miss. Hedwig Margaritha',
  'female',
  '22',
  '0',
  '2',
  '13568',
  '49.5000'],
 ['1',
  'Frolicher-Stehli, Mr. Maxmillian',
  'male',
  '60',
  '1',
  '1',
  '13567',
  '79.2000'],
 ['1',
  'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)',
  'female',
  '48',
  '1',
  '1',
  '13567',
  '79.2000'],
 ['1', 'Fry, Mr. Richard', 'male', '0', '0', '0', '112058', '0.0000'],
 ['1',
  'Futrelle, Mr. Jacques Heath',
  'male',
  '37',
  '1',
  '0',
  '113803',
  '53.1000'],
 ['1',
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'female',
  '35',
  '1',
  '0',
  '113803',
  '53.1000'],
 ['1', 'Gee, Mr. Arthur H', 'male', '47', '0', '0', '111320', '38.5000'],
 ['1', 'Geiger, Miss. Amalie', 'female', '35', '0', '0', '113503', '211.5000'],
 ['1',
  'Gibson, Miss. Dorothy Winifred',
  'female',
  '22',
  '0',
  '1',
  '112378',
  '59.4000'],
 ['1',
  'Gibson, Mrs. Leonard (Pauline C Boeson)',
  'female',
  '45',
  '0',
  '1',
  '112378',
  '59.4000'],
 ['1', 'Giglio, Mr. Victor', 'male', '24', '0', '0', 'PC 17593', '79.2000'],
 ['1', 'Goldenberg, Mr. Samuel L', 'male', '49', '1', '0', '17453', '89.1042'],
 ['1',
  'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
  'female',
  '0',
  '1',
  '0',
  '17453',
  '89.1042'],
 ['1',
  'Goldschmidt, Mr. George B',
  'male',
  '71',
  '0',
  '0',
  'PC 17754',
  '34.6542'],
 ['1',
  'Gracie, Col. Archibald IV',
  'male',
  '53',
  '0',
  '0',
  '113780',
  '28.5000'],
 ['1',
  'Graham, Miss. Margaret Edith',
  'female',
  '19',
  '0',
  '0',
  '112053',
  '30.0000'],
 ['1',
  'Graham, Mr. George Edward',
  'male',
  '38',
  '0',
  '1',
  'PC 17582',
  '153.4625'],
 ['1',
  'Graham, Mrs. William Thompson (Edith Junkins)',
  'female',
  '58',
  '0',
  '1',
  'PC 17582',
  '153.4625'],
 ['1',
  'Greenfield, Mr. William Bertram',
  'male',
  '23',
  '0',
  '1',
  'PC 17759',
  '63.3583'],
 ['1',
  'Greenfield, Mrs. Leo David (Blanche Strouse)',
  'female',
  '45',
  '0',
  '1',
  'PC 17759',
  '63.3583'],
 ['1',
  'Guggenheim, Mr. Benjamin',
  'male',
  '46',
  '0',
  '0',
  'PC 17593',
  '79.2000'],
 ['1',
  'Harder, Mr. George Achilles',
  'male',
  '25',
  '1',
  '0',
  '11765',
  '55.4417'],
 ['1',
  'Harder, Mrs. George Achilles (Dorothy Annan)',
  'female',
  '25',
  '1',
  '0',
  '11765',
  '55.4417'],
 ['1',
  'Harper, Mr. Henry Sleeper',
  'male',
  '48',
  '1',
  '0',
  'PC 17572',
  '76.7292'],
 ['1',
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'female',
  '49',
  '1',
  '0',
  'PC 17572',
  '76.7292'],
 ['1',
  'Harrington, Mr. Charles H',
  'male',
  '0',
  '0',
  '0',
  '113796',
  '42.4000'],
 ['1',
  'Harris, Mr. Henry Birkhardt',
  'male',
  '45',
  '1',
  '0',
  '36973',
  '83.4750'],
 ['1',
  'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
  'female',
  '35',
  '1',
  '0',
  '36973',
  '83.4750'],
 ['1', 'Harrison, Mr. William', 'male', '40', '0', '0', '112059', '0.0000'],
 ['1', 'Hassab, Mr. Hammad', 'male', '27', '0', '0', 'PC 17572', '76.7292'],
 ['1',
  'Hawksford, Mr. Walter James',
  'male',
  '0',
  '0',
  '0',
  '16988',
  '30.0000'],
 ['1',
  'Hays, Miss. Margaret Bechstein',
  'female',
  '24',
  '0',
  '0',
  '11767',
  '83.1583'],
 ['1',
  'Hays, Mr. Charles Melville',
  'male',
  '55',
  '1',
  '1',
  '12749',
  '93.5000'],
 ['1',
  'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
  'female',
  '52',
  '1',
  '1',
  '12749',
  '93.5000'],
 ['1', 'Head, Mr. Christopher', 'male', '42', '0', '0', '113038', '42.5000'],
 ['1',
  'Hilliard, Mr. Herbert Henry',
  'male',
  '0',
  '0',
  '0',
  '17463',
  '51.8625'],
 ['1',
  'Hipkins, Mr. William Edward',
  'male',
  '55',
  '0',
  '0',
  '680',
  '50.0000'],
 ['1',
  'Hippach, Miss. Jean Gertrude',
  'female',
  '16',
  '0',
  '1',
  '111361',
  '57.9792'],
 ['1',
  'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
  'female',
  '44',
  '0',
  '1',
  '111361',
  '57.9792'],
 ['1',
  'Hogeboom, Mrs. John C (Anna Andrews)',
  'female',
  '51',
  '1',
  '0',
  '13502',
  '77.9583'],
 ['1',
  'Holverson, Mr. Alexander Oskar',
  'male',
  '42',
  '1',
  '0',
  '113789',
  '52.0000'],
 ['1',
  'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
  'female',
  '35',
  '1',
  '0',
  '113789',
  '52.0000'],
 ['1',
  'Homer, Mr. Harry ("Mr E Haven")',
  'male',
  '35',
  '0',
  '0',
  '111426',
  '26.5500'],
 ['1',
  'Hoyt, Mr. Frederick Maxfield',
  'male',
  '38',
  '1',
  '0',
  '19943',
  '90.0000'],
 ['1',
  'Hoyt, Mr. William Fisher',
  'male',
  '0',
  '0',
  '0',
  'PC 17600',
  '30.6958'],
 ['1',
  'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
  'female',
  '35',
  '1',
  '0',
  '19943',
  '90.0000'],
 ['1', 'Icard, Miss. Amelie', 'female', '38', '0', '0', '113572', '80.0000'],
 ['1',
  'Isham, Miss. Ann Elizabeth',
  'female',
  '50',
  '0',
  '0',
  'PC 17595',
  '28.7125'],
 ['1', 'Ismay, Mr. Joseph Bruce', 'male', '49', '0', '0', '112058', '0.0000'],
 ['1', 'Jones, Mr. Charles Cresson', 'male', '46', '0', '0', '694', '26.0000'],
 ['1',
  'Julian, Mr. Henry Forbes',
  'male',
  '50',
  '0',
  '0',
  '113044',
  '26.0000'],
 ['1', 'Keeping, Mr. Edwin', 'male', '32.5', '0', '0', '113503', '211.5000'],
 ['1', 'Kent, Mr. Edward Austin', 'male', '58', '0', '0', '11771', '29.7000'],
 ['1', 'Kenyon, Mr. Frederick R', 'male', '41', '1', '0', '17464', '51.8625'],
 ['1',
  'Kenyon, Mrs. Frederick R (Marion)',
  'female',
  '0',
  '1',
  '0',
  '17464',
  '51.8625'],
 ['1',
  'Kimball, Mr. Edwin Nelson Jr',
  'male',
  '42',
  '1',
  '0',
  '11753',
  '52.5542'],
 ['1',
  'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
  'female',
  '45',
  '1',
  '0',
  '11753',
  '52.5542'],
 ['1', 'Klaber, Mr. Herman', 'male', '0', '0', '0', '113028', '26.5500'],
 ['1',
  'Kreuchen, Miss. Emilie',
  'female',
  '39',
  '0',
  '0',
  '24160',
  '211.3375'],
 ['1',
  'Leader, Dr. Alice (Farnham)',
  'female',
  '49',
  '0',
  '0',
  '17465',
  '25.9292'],
 ['1',
  'LeRoy, Miss. Bertha',
  'female',
  '30',
  '0',
  '0',
  'PC 17761',
  '106.4250'],
 ['1',
  'Lesurer, Mr. Gustave J',
  'male',
  '35',
  '0',
  '0',
  'PC 17755',
  '512.3292'],
 ['1', 'Lewy, Mr. Ervin G', 'male', '0', '0', '0', 'PC 17612', '27.7208'],
 ['1',
  'Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Lingrey")',
  'male',
  '42',
  '0',
  '0',
  '17475',
  '26.5500'],
 ['1',
  'Lindstrom, Mrs. Carl Johan (Sigrid Posse)',
  'female',
  '55',
  '0',
  '0',
  '112377',
  '27.7208'],
 ['1',
  'Lines, Miss. Mary Conover',
  'female',
  '16',
  '0',
  '1',
  'PC 17592',
  '39.4000'],
 ['1',
  'Lines, Mrs. Ernest H (Elizabeth Lindsey James)',
  'female',
  '51',
  '0',
  '1',
  'PC 17592',
  '39.4000'],
 ['1', 'Long, Mr. Milton Clyde', 'male', '29', '0', '0', '113501', '30.0000'],
 ['1',
  'Longley, Miss. Gretchen Fiske',
  'female',
  '21',
  '0',
  '0',
  '13502',
  '77.9583'],
 ['1',
  'Loring, Mr. Joseph Holland',
  'male',
  '30',
  '0',
  '0',
  '113801',
  '45.5000'],
 ['1',
  'Lurette, Miss. Elise',
  'female',
  '58',
  '0',
  '0',
  'PC 17569',
  '146.5208'],
 ['1',
  'Madill, Miss. Georgette Alexandra',
  'female',
  '15',
  '0',
  '1',
  '24160',
  '211.3375'],
 ['1',
  'Maguire, Mr. John Edward',
  'male',
  '30',
  '0',
  '0',
  '110469',
  '26.0000'],
 ['1', 'Maioni, Miss. Roberta', 'female', '16', '0', '0', '110152', '86.5000'],
 ['1', 'Marechal, Mr. Pierre', 'male', '0', '0', '0', '11774', '29.7000'],
 ['1',
  'Marvin, Mr. Daniel Warner',
  'male',
  '19',
  '1',
  '0',
  '113773',
  '53.1000'],
 ['1',
  'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)',
  'female',
  '18',
  '1',
  '0',
  '113773',
  '53.1000'],
 ['1',

In [11]:
labels

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

**Data Preprocessing - Converting the sex feature into numerical value where male is represented as '0' and female is represented as '1'**

In [12]:
# Preprocessing function
def preprocess(data, discarded_columns):
    # Sort by descending id and delete columns
    for id in sorted(discarded_columns, reverse=True):
        [r.pop(id) for r in data]
    for i in range(len(data)):
      # Converting 'sex' field to float (id is 1 after removing labels column)
      data[i][1] = 1. if data[i][1] == 'female' else 0.
    return np.array(data, dtype=np.float32)# Ignore 'name' and 'ticket' columns (id 1 & 6 of data array)
discarded_columns =[1, 6]# Preprocess data
## function calling
data = preprocess(data, discarded_columns)

**Build the neural network classifier**

In [13]:
# Build neural network classifier(3-layer neural network)
net = tflearn.input_data(shape=[None, 6])
net = tflearn.fully_connected(net, 32)
net = tflearn.fully_connected(net, 32)
net = tflearn.fully_connected(net, 2, activation='softmax')
net = tflearn.regression(net)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tflearn/initializations.py:164: calling TruncatedNormal.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

**Model Training**

In [14]:
# Define model
model = tflearn.DNN(net)
# Start training (apply gradient descent algorithm)
model.fit(data, labels, n_epoch=20, batch_size=16, show_metric=True)

Training Step: 1639  | total loss: 0.51649 | time: 0.451s
| Adam | epoch: 020 | loss: 0.51649 - acc: 0.7755 -- iter: 1296/1309
Training Step: 1640  | total loss: 0.50307 | time: 0.456s
| Adam | epoch: 020 | loss: 0.50307 - acc: 0.7854 -- iter: 1309/1309
--

**Model Prediction**

In [15]:
## loading the data
shivam = [3, 'Shivam Bhatia', 'male', 19, 0, 0, 'N/A', 5.0000]
priya = [1, 'Priya Bhatia', 'female', 17, 1, 2, 'N/A', 100.0000]
# Preprocess data
shivam, priya = preprocess([shivam, priya], discarded_columns)
# Predict surviving chances (class 1 results)
pred = model.predict([shivam, priya])
print("Shivam's Surviving Rate:", pred[0][1])
print("Priya's Surviving Rate:", pred[1][1])

Shivam's Surviving Rate: 0.08110144
Priya's Surviving Rate: 0.82581884